# Ignore node_modules folder (dependencies)
node_modules/

# Ignore environment variable files
.env
.app.env
config.js

# Ignore image files if they are stored in the project (if not necessary for the repository)
*.jpg
*.jpeg
*.png

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore build/coverage/cache directories
build/
coverage/
.cache/

# Ignore output of npm or yarn packaging
*.tgz

# Ignore VSCode settings (if unnecessary)
.vscode/

# Ignore test reports or other temporary files
.nyc_output/
